/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans';
    margin: 0;
}

body {
    width: 100%;
    max-width: 1920 px;
}

.container {
    width: 100%;
    max-width: 75%;
    margin: auto;
}

/* shared styles */
h1 {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    color: rgb(19, 19, 19);
    font-size: 2.82rem;
    font-weight: 700;
}

.f20-600 {
    color: rgb(114, 114, 114);
    font-size: 1.25rem;
    font-weight: 600;
}

.f20-400 {
    color: rgb(66, 66, 66);
    font-size: 1.25rem;
    font-weight: 400;
}

.f16-400 {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    /* Rectangle 1 */
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border: none;
    width: 11.25rem;
    height: 4rem;
    cursor: pointer; 
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.1);
}

.header-container {
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
    font-size: 1.12rem; 
    color: rgb(66, 66, 66);
}

nav ul li a {
    text-decoration: none;
}

/* banner styles */
.banner {
    margin-top: 100px;
}
.banner-text {
    max-width: 42%;
    margin: 0 auto;
    text-align: center;
}

.banner-text p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* responsive styles */
/* for mobile devices */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        max-width: 95%;
        margin: auto;
    }

    .banner-text {
        margin: 10px;
    }

    .nav-title {
        margin-bottom: 40px;
    }
    
    nav, nav > ul {
        flex-direction: column;
    }
     
    .banner-text {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }
}
/* for tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .container {
        width: 100%;
        max-width: 95%;
        margin: auto;
    }

    nav {
        flex-direction: column;
        gap: 30px;
    }

    .banner-text {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    nav > ul {
        margin-bottom: 40px;
    }
}